
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.otf");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.otf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.otf");
}

@font-face {
  font-family: "Montserrat-Black";
  src: url("../fonts/Montserrat-Black.otf");
}

@font-face {
  font-family: "Montserrat-Hairline";
  src: url("../fonts/Montserrat-Hairline.ttf");
}


body{
	font-family: "Montserrat-Regular";
	background:#fafafa;
	overflow-x: hidden;
}

.hide-scroll{
	overflow-y:hidden;
}


/*--------------------------------------------------------------
	Site Header
--------------------------------------------------------------*/

.site-header{
	margin:30px auto;
	position:absolute;
	left:0;
	right:0;
	top:0;
	z-index:9999;
}


.site-header > .row > div{
	display:inline-block;
	float:none;
	margin:0 -4px 0 0;
	vertical-align:middle;
}

.site-header #site-navigation{
	margin:0;
}

.site-header #site-navigation .navbar-collapse{
	padding:0 20px;
}

.site-header #site-navigation .nav li a{
	font-size:13px;
	text-transform:uppercase;
	color:#fff;
	padding:12px 19px 15px;
	background:none!important;
	position:relative;
}

.site-header #site-navigation .nav li a:before{
	content: "";
	height:2px;
	background:#f5ab35;
	position:absolute;
	bottom:0;
	right:100%;
	left:5px;
	transition: all 0.4s;
}

.site-header #site-navigation .nav li:hover a:before{
    right: 5px;
}

.site-header #site-navigation .nav li.active a:before{
	left:5px;
	right:5px;
}

.site-header #site-navigation .navbar-right li:hover a:before{
	display:none
}

.site-header .search-lightbox{
	display:none
}

.featherlight .featherlight-content{
	min-width:50%;
}

.header-1{
	margin:30px auto;
	position:absolute;
	left:0;
	right:0;
	top:0;
	z-index:9999;
}

.header-1 .site-branding .site-title a img{
	max-height:58px;
	margin:17px 0;
	display:block;
}

.header-1 #site-navigation:after{
	content: "";
	display:block;
	position:absolute;
	left:100%;
	bottom:0;
	top:0;
	width:100%;
	background:#e8edf5;
}

.header-1 #site-navigation{
	position:relative;
	background:#e8edf5;
	opacity:1;
	border-radius:0;
	margin:0;
	border:none;
	padding:0 20px;
}

.header-1 #site-navigation .navbar-collapse{
	padding:0 0 0 20px;
}

.header-1 #site-navigation .nav li a{
	font-size:13px;
	text-transform:uppercase;
	color:#004296;
	padding:36px 19px;
	background:none!important;
	position:relative
}

.header-1 #site-navigation .nav li.active a:before{
	content: "";
	display:block;
	height:3px;
	background:#f5ab35;
	position:absolute;
	bottom:20px;
	left:5px;
	right:5px;
}

.header-1 #site-navigation .nav li a:before{
	background: #f5ab35;
    bottom: 20px;
    content: "";
    display: block;
    height: 3px;
    right:100%;
	left:5px;
	transition: all 0.4s;
	position:absolute;
}

.header-1 #site-navigation .nav li:hover a:before{
    display: block;
    right: 5px;
}

.header-1 #site-navigation .navbar-right li:hover a:before{
	display:none
}


.header-2{
	margin:30px auto;
	position:absolute;
	left:0;
	right:0;
	top:0;
	z-index:9999;
	text-align:center;
}

.header-2 .nav,
.header-2 .site-branding{
	float:none!important;
	display:inline-block;
	vertical-align:middle
}

.header-2 .site-branding{
	margin:0 90px;
}

.header-2 .site-branding .site-title a img{
	max-height:none;
}

.header-2 #site-navigation .nav li a{
	font-size:13px;
	text-transform:uppercase;
	color:#fff;
	padding:15px;
	background:none!important;
}

.header-2 #site-navigation .nav li.active a:before{
	background:#fff;
	height:3px;
}

.header-2 #site-navigation .nav li a:before{
	background: #fff;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    right:100%;
	left:5px;
	transition: all 0.4s;
	position:absolute;
}

.header-2 #site-navigation .nav li:hover a:before{
    display: block;
    right: 5px;
}

.header-2 .site-branding-mobile{
	display:none
}

.header-3{
	position:absolute;
	left:0;
	right:0;
	top:0;
	z-index:9999;
	margin:0;
}

.header-3 .top-header{
	background:#fff;
	padding:10px 0;
	-webkit-box-shadow: 0px 20px 20px -4px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 20px 20px -4px rgba(0,0,0,0.5);
	box-shadow: 0px 20px 20px -4px rgba(0,0,0,0.5);
}

.header-3 .top-header p{
	margin:0;
	color:#004296;
	font-size:11px;
	font-family: "Montserrat-Light";
}

.header-3 .top-header i{
	margin:0 10px 0 0;
	font-size:14px;
	color:#004296;
}

.header-3 .top-header ul{
	text-align:right;
}

.header-3 .top-header ul li{
	margin:0 0 0 20px
}

.header-3 .top-header ul li a{
	color:#004296;
	font-size:11px;
	font-family: "Montserrat-Light";
}

.header-3 .site-branding .site-title{
	text-align:center
}

.header-3 .site-branding .site-title a{
	display:inline-block;
}

.header-3 .site-branding .site-title a img{
	max-height:58px;
	margin:25px 0 0;
	display:block;
}

.header-3-navigation{
	background:#fff
}

.header-3-navigation #site-navigation{
	margin:0;
}

.header-3-navigation #site-navigation .nav{
	text-align:center;
	width:100%;
	float:none;
}

.header-3-navigation #site-navigation .nav li{
	float:none;
	display:inline-block;
	vertical-align:middle;
	margin:0 -4px 0 0;
}

.header-3-navigation #site-navigation .nav li a{
	font-size:15px;
	text-transform:uppercase;
	color:#004296;
	padding:25px 30px 30px;
	background:none!important;
}

.header-3-navigation #site-navigation .nav li.active a:before{
	display:block;
	left:5px;
	right:5px;
}

.header-3-navigation #site-navigation .nav li a:before{
	background: #3368ab;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    right:100%;
	left:5px;
	transition: all 0.4s;
	position:absolute;
}

.header-3-navigation #site-navigation .nav li:hover a:before{
    display: block;
    right: 5px;
}

.mobile-menu,
.closecanvas{
	display:none;
}

#js-bootstrap-offcanvas:after {
  content: "";
  display: table;
  clear: both;
}



.welcome{
	padding:70px 0;
	background:#fafafa
}

.welcome .welcome-content{
	padding:0 80px 0 0;
}

.welcome .welcome-content h3{
	font-family: "Montserrat-Bold";
	text-transform:uppercase;
	font-size:33px;
	color:#303030;
	line-height:45px;
	margin:0 0 40px;
}

.welcome .welcome-content h3 span{
	font-family: "Montserrat-Regular";
	color:#818181;
	font-size:18px;
	text-transform:capitalize;
	display:block;
}

.welcome .welcome-content p{
	margin:0 0 30px;
	font-size:13px;
	color:#818181;
	line-height:22px;
	font-family: "Montserrat-Light";
}
